# ORM Django Queries

In [54]:
from django.db import connection, reset_queries
from django.db.models.functions import Floor

## Read All

In [2]:
movies = Movie.objects.all() # QuerySet: Lazy object

In [4]:
type(movies)

django.db.models.query.QuerySet

In [3]:
connection.queries

[]

In [6]:
movies

<QuerySet [Movie<id=5257, title=Excuse Me, year=1915>, Movie<id=6366, title=Anton the Terrible, year=1916>, Movie<id=8351, title=The Mysterious Mrs. Musslewhite, year=1917>, Movie<id=8384, title=On the Level, year=1917>, Movie<id=8642, title=The Sunset Trail, year=1917>, Movie<id=8676, title=The Tides of Barnegat, year=1917>, Movie<id=8981, title=The Cruise of the Make-Believes, year=1918>, Movie<id=9124, title=Good Night, Paul, year=1918>, Movie<id=16251, title=Proud Flesh, year=1925>, Movie<id=19588, title=A Woman Against the World, year=1928>, Movie<id=9274, title=A Lady's Name, year=1918>, Movie<id=9403, title=Mrs. Leffingwell's Boots, year=1918>, Movie<id=9475, title=A Pair of Silk Stockings, year=1918>, Movie<id=9492, title=A Petticoat Pilot, year=1918>, Movie<id=9576, title=Sauce for the Goose, year=1918>, Movie<id=9666, title=Such a Little Pirate, year=1918>, Movie<id=9740, title=Unclaimed Goods, year=1918>, Movie<id=9767, title=Viviette, year=1918>, Movie<id=19699, title=The Black Watch, year=1929>, Movie<id=10099, title=Experimental Marriage, year=1919>, '...(remaining elements truncated)...']>

In [7]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" LIMIT 21',
  'time': '0.000'}]

In [8]:
len(movies)

1187

In [9]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" LIMIT 21',
  'time': '0.000'},
 {'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie"',
  'time': '0.016'}]

In [10]:
reset_queries()
connection.queries

[]

In [11]:
persons = Person.objects.all()

In [12]:
connection.queries

[]

In [13]:
persons[:100]

<QuerySet [Person<id=1, name=Fred Astaire>, Person<id=2, name=Lauren Bacall>, Person<id=3, name=Brigitte Bardot>, Person<id=4, name=John Belushi>, Person<id=6, name=Ingrid Bergman>, Person<id=8, name=Marlon Brando>, Person<id=9, name=Richard Burton>, Person<id=11, name=Gary Cooper>, Person<id=13, name=Doris Day>, Person<id=15, name=James Dean>, Person<id=17, name=Marlene Dietrich>, Person<id=18, name=Kirk Douglas>, Person<id=20, name=Henry Fonda>, Person<id=21, name=Joan Fontaine>, Person<id=24, name=John Gielgud>, Person<id=25, name=Jerry Goldsmith>, Person<id=26, name=Cary Grant>, Person<id=27, name=Alec Guinness>, Person<id=28, name=Rita Hayworth>, Person<id=30, name=Audrey Hepburn>, '...(remaining elements truncated)...']>

In [14]:
connection.queries

[{'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" LIMIT 21',
  'time': '0.016'}]

In [15]:
persons[100:200]

<QuerySet [Person<id=151, name=Morgan Freeman>, Person<id=152, name=Richard Gere>, Person<id=153, name=Gina Gershon>, Person<id=154, name=Mel Gibson>, Person<id=155, name=Whoopi Goldberg>, Person<id=156, name=Jeff Goldblum>, Person<id=157, name=Linda Hamilton>, Person<id=158, name=Tom Hanks>, Person<id=159, name=Teri Hatcher>, Person<id=160, name=Ethan Hawke>, Person<id=161, name=Salma Hayek>, Person<id=162, name=Anne Heche>, Person<id=163, name=Dustin Hoffman>, Person<id=164, name=Anthony Hopkins>, Person<id=165, name=Ron Howard>, Person<id=166, name=Helen Hunt>, Person<id=168, name=Samuel L. Jackson>, Person<id=169, name=Tommy Lee Jones>, Person<id=171, name=Ashley Judd>, Person<id=172, name=Harvey Keitel>, '...(remaining elements truncated)...']>

In [16]:
connection.queries

[{'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" LIMIT 21',
  'time': '0.016'},
 {'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" LIMIT 21 OFFSET 100',
  'time': '0.000'}]

## Read with filter

In [19]:
# movies from 1984
reset_queries()
Movie.objects.filter(year=1984)

<QuerySet [Movie<id=84750, title=Sword of the Valiant: The Legend of Sir Gawain and the Green Knight, year=1984>, Movie<id=86927, title=Bachelor Party, year=1984>, Movie<id=86979, title=Blood Simple, year=1984>, Movie<id=86984, title=Body Double, year=1984>, Movie<id=86998, title=Breakin', year=1984>, Movie<id=87062, title=City Heat, year=1984>, Movie<id=87078, title=Conan the Destroyer, year=1984>, Movie<id=87363, title=Gremlins, year=1984>, Movie<id=87469, title=Indiana Jones and the Temple of Doom, year=1984>, Movie<id=87727, title=Missing in Action, year=1984>, Movie<id=87739, title=Monaco Forever, year=1984>, Movie<id=88001, title=Rhinestone, year=1984>, Movie<id=88161, title=Splash, year=1984>, Movie<id=88247, title=The Terminator, year=1984>, Movie<id=88272, title=Tightrope, year=1984>, Movie<id=92264, title=Heroes Shed No Tears, year=1984>]>

In [20]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."release_year" = 1984 LIMIT 21',
  'time': '0.000'}]

In [21]:
# movies from 1984 and duration 106 minutes
reset_queries()
Movie.objects.filter(year=1984, duration=106)

In [22]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE ("movie"."duration" = 106 AND "movie"."release_year" = 1984) LIMIT 21',
  'time': '0.000'}]

### Exercice using lookups:
Extract movies with:
- title = 'the man who knew too much' (case insensitive)
- title starting with 'the man who' (case insensitive)
- title containing 'man' (case insensitive)
- year > 2019
- year between  1980 and 1989
- duration is null

Extract persons with:
- birth year 1930
- birth year before 1900

Doc: 
- https://docs.djangoproject.com/en/4.2/ref/models/querysets/
- https://docs.djangoproject.com/en/4.2/ref/models/querysets/#id4 (lookup list)

In [23]:
reset_queries()
Movie.objects.filter(title__iexact = 'the man who knew too much')

In [24]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE UPPER("movie"."title"::text) = UPPER(\'the man who knew too much\') LIMIT 21',
  'time': '0.015'}]

In [27]:
# startswith (case sensitive), istartswith (case insensitive)
reset_queries()
Movie.objects.filter(title__istartswith = 'the man')

<QuerySet [Movie<id=20142, title=The Manxman, year=1929>, Movie<id=24293, title=The Man from Monterey, year=1933>, Movie<id=25452, title=The Man Who Knew Too Much, year=1934>, Movie<id=25455, title=The Man from Utah, year=1934>, Movie<id=49470, title=The Man Who Knew Too Much, year=1956>, Movie<id=56217, title=The Man Who Shot Liberty Valance, year=1962>, Movie<id=71807, title=The Man with the Golden Gun, year=1974>, Movie<id=73341, title=The Man Who Would Be King, year=1975>, Movie<id=89543, title=The Man with One Red Shoe, year=1985>, Movie<id=243133, title=The Man Who Wasn't There, year=2001>]>

In [28]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE UPPER("movie"."title"::text) LIKE UPPER(\'the man%\') LIMIT 21',
  'time': '0.000'}]

In [30]:
reset_queries()
Movie.objects.filter(title__icontains = 'man')

<QuerySet [Movie<id=19588, title=A Woman Against the World, year=1928>, Movie<id=10389, title=The Lottery Man, year=1919>, Movie<id=10637, title=Romance and Arabella, year=1919>, Movie<id=13126, title=Find the Woman, year=1922>, Movie<id=14689, title=The Average Woman, year=1924>, Movie<id=17417, title=The Song and Dance Man, year=1926>, Movie<id=17936, title=The Girl in the Pullman, year=1927>, Movie<id=18972, title=Hangman's House, year=1928>, Movie<id=20142, title=The Manxman, year=1929>, Movie<id=21319, title=Rough Romance, year=1930>, Movie<id=21911, title=Girls Demand Excitement, year=1931>, Movie<id=24293, title=The Man from Monterey, year=1933>, Movie<id=25452, title=The Man Who Knew Too Much, year=1934>, Movie<id=25455, title=The Man from Utah, year=1934>, Movie<id=32383, title=Dark Command, year=1940>, Movie<id=33871, title=A Man Betrayed, year=1941>, Movie<id=39152, title=Angel and the Badman, year=1947>, Movie<id=45061, title=The Quiet Man, year=1952>, Movie<id=49470, title=The Man Who Knew Too Much, year=1956>, Movie<id=51207, title=The Wrong Man, year=1956>, '...(remaining elements truncated)...']>

In [31]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE UPPER("movie"."title"::text) LIKE UPPER(\'%man%\') LIMIT 21',
  'time': '0.000'}]

In [32]:
# gt: >
# gte: >=
# lt: <
# lte: <=
reset_queries()
Movie.objects.filter(year__gt = 2019)

<QuerySet [Movie<id=1502397, title=Bad Boys for Life, year=2020>, Movie<id=1634106, title=Bloodshot, year=2020>, Movie<id=6048922, title=Greyhound, year=2020>, Movie<id=7504726, title=The Call of the Wild, year=2020>]>

In [33]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."release_year" > 2019 LIMIT 21',
  'time': '0.016'}]

In [45]:
reset_queries()
result = Movie.objects.filter(year__range=(1980, 1989))
result

<QuerySet [Movie<id=76580, title=Qian zuo guai, year=1980>, Movie<id=80031, title=Tom Horn, year=1980>, Movie<id=83284, title=Victory, year=1981>, Movie<id=97770, title=Lock Up, year=1989>, Movie<id=80377, title=Any Which Way You Can, year=1980>, Movie<id=80455, title=The Blues Brothers, year=1980>, Movie<id=80472, title=Bronco Billy, year=1980>, Movie<id=80661, title=Dressed to Kill, year=1980>, Movie<id=80684, title=Star Wars: Episode V - The Empire Strikes Back, year=1980>, Movie<id=80850, title=He Knows You're Alone, year=1980>, Movie<id=80907, title=The Hunter, year=1980>, Movie<id=81398, title=Raging Bull, year=1980>, Movie<id=81633, title=Time Bandits, year=1981>, Movie<id=82085, title=Blow Out, year=1981>, Movie<id=82198, title=Conan the Barbarian, year=1982>, Movie<id=82398, title=For Your Eyes Only, year=1981>, Movie<id=82535, title=Hua ji shi dai, year=1981>, Movie<id=82762, title=Mo deng tian shi, year=1982>, Movie<id=82817, title=Nighthawks, year=1981>, Movie<id=82869, title=Outland, year=1981>, '...(remaining elements truncated)...']>

In [46]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."release_year" BETWEEN 1980 AND 1989 LIMIT 21',
  'time': '0.000'}]

In [47]:
max(m.year for m in result)

1989

In [48]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."release_year" BETWEEN 1980 AND 1989 LIMIT 21',
  'time': '0.000'},
 {'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."release_year" BETWEEN 1980 AND 1989',
  'time': '0.015'}]

In [41]:
reset_queries()
Movie.objects.filter(year__range=(1980, 1989)) \
    .exclude(year=1985)

<QuerySet [Movie<id=76580, title=Qian zuo guai, year=1980>, Movie<id=80031, title=Tom Horn, year=1980>, Movie<id=83284, title=Victory, year=1981>, Movie<id=97770, title=Lock Up, year=1989>, Movie<id=80377, title=Any Which Way You Can, year=1980>, Movie<id=80455, title=The Blues Brothers, year=1980>, Movie<id=80472, title=Bronco Billy, year=1980>, Movie<id=80661, title=Dressed to Kill, year=1980>, Movie<id=80684, title=Star Wars: Episode V - The Empire Strikes Back, year=1980>, Movie<id=80850, title=He Knows You're Alone, year=1980>, Movie<id=80907, title=The Hunter, year=1980>, Movie<id=81398, title=Raging Bull, year=1980>, Movie<id=81633, title=Time Bandits, year=1981>, Movie<id=82085, title=Blow Out, year=1981>, Movie<id=82198, title=Conan the Barbarian, year=1982>, Movie<id=82398, title=For Your Eyes Only, year=1981>, Movie<id=82535, title=Hua ji shi dai, year=1981>, Movie<id=82762, title=Mo deng tian shi, year=1982>, Movie<id=82817, title=Nighthawks, year=1981>, Movie<id=82869, title=Outland, year=1981>, '...(remaining elements truncated)...']>

In [42]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE ("movie"."release_year" BETWEEN 1980 AND 1989 AND NOT ("movie"."release_year" = 1985)) LIMIT 21',
  'time': '0.000'}]

In [37]:
result[len(result)-5:]

[Movie<id=185446, title=Gu lian hua, year=1985>,
 Movie<id=359715, title=My Best Friend's Birthday, year=1987>,
 Movie<id=1813593, title=Sam Raimi Early Shorts, year=1985>,
 Movie<id=1959602, title=Vegetables, year=1989>,
 Movie<id=7763324, title=Amazing Stories, year=1986>]

In [38]:
Person.objects.filter(birthdate__year=1930)

<QuerySet [Person<id=125, name=Sean Connery>, Person<id=142, name=Clint Eastwood>, Person<id=432, name=Gene Hackman>, Person<id=537, name=Steve McQueen>, Person<id=728, name=Mario Adorf>, Person<id=1262, name=Ben Gazzara>, Person<id=1321, name=Richard Harris>, Person<id=1335, name=Tippi Hedren>, Person<id=1687, name=Gena Rowlands>, Person<id=1703, name=Maximilian Schell>, Person<id=1792, name=Rod Taylor>, Person<id=1822, name=Robert Wagner>, Person<id=3679, name=Kate Reid>, Person<id=4877, name=Roy Edward Disney>, Person<id=5162, name=Robert Loggia>, Person<id=5196, name=Paul Mazursky>, Person<id=43484, name=Jack Axelrod>, Person<id=53364, name=Chris Barber>, Person<id=58972, name=Dominic Barto>, Person<id=60789, name=Charles Bateman>, '...(remaining elements truncated)...']>

In [39]:
Person.objects.filter(birthdate__year__lt=1900)

<QuerySet [Person<id=1, name=Fred Astaire>, Person<id=33, name=Alfred Hitchcock>, Person<id=64, name=Edward G. Robinson>, Person<id=68, name=Randolph Scott>, Person<id=252, name=Robert Ellis>, Person<id=752, name=Judith Anderson>, Person<id=856, name=Ethel Barrymore>, Person<id=912, name=Jack Benny>, Person<id=964, name=Charles Boyer>, Person<id=974, name=Walter Brennan>, Person<id=1124, name=Cecil B. DeMille>, Person<id=1211, name=W.C. Fields>, Person<id=1230, name=Harrison Ford>, Person<id=1273, name=Lillian Gish>, Person<id=1316, name=Oliver Hardy>, Person<id=1452, name=Charles Laughton>, Person<id=1647, name=Claude Rains>, Person<id=1890, name=Hugh Herbert>, Person<id=1916, name=Arletty>, Person<id=1932, name=Richard Barthelmess>, '...(remaining elements truncated)...']>

In [49]:
reset_queries()
Movie.objects.filter(year__in=(1980, 1982, 1985))

<QuerySet [Movie<id=76580, title=Qian zuo guai, year=1980>, Movie<id=80031, title=Tom Horn, year=1980>, Movie<id=80377, title=Any Which Way You Can, year=1980>, Movie<id=80455, title=The Blues Brothers, year=1980>, Movie<id=80472, title=Bronco Billy, year=1980>, Movie<id=80661, title=Dressed to Kill, year=1980>, Movie<id=80684, title=Star Wars: Episode V - The Empire Strikes Back, year=1980>, Movie<id=80850, title=He Knows You're Alone, year=1980>, Movie<id=80907, title=The Hunter, year=1980>, Movie<id=81398, title=Raging Bull, year=1980>, Movie<id=82198, title=Conan the Barbarian, year=1982>, Movie<id=82762, title=Mo deng tian shi, year=1982>, Movie<id=82880, title=Il pap'occhio, year=1980>, Movie<id=83605, title=Ba cai Lin Ya Zhen, year=1982>, Movie<id=83658, title=Blade Runner, year=1982>, Movie<id=83866, title=E.T. the Extra-Terrestrial, year=1982>, Movie<id=83943, title=Firefox, year=1982>, Movie<id=83944, title=First Blood, year=1982>, Movie<id=83947, title=Five Days One Summer, year=1982>, Movie<id=84088, title=Honkytonk Man, year=1982>, '...(remaining elements truncated)...']>

In [50]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."release_year" IN (1980, 1982, 1985) LIMIT 21',
  'time': '0.000'}]

### Exercise using functions
- Q: Query
- Inline function: Coalesce, Concat, Round, Ceil, Floor, Extract, ...

Extract movies with:
- duration > 300 or duration is null
- decade = 198

In [71]:
reset_queries()
result = Movie.objects.filter(Q(duration__gt = 300) | Q(duration__isnull=True))
result

<QuerySet [Movie<id=13444, title=Number 13, year=1922>, Movie<id=77667, title=Ha luo, ye gui ren, year=1978>, Movie<id=108941, title=The Stand, year=1994>, Movie<id=173893, title=Hefty's, year=1983>, Movie<id=185446, title=Gu lian hua, year=1985>, Movie<id=185906, title=Band of Brothers, year=2001>, Movie<id=374463, title=The Pacific, year=2010>, Movie<id=2305700, title=London 2012 Olympic Opening Ceremony: Isles of Wonder, year=2012>, Movie<id=4824394, title=Terminator Genisys: The YouTube Chronicles, year=2015>, Movie<id=6344712, title=The Square Root, year=1969>]>

In [44]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE ("movie"."duration" > 300 OR "movie"."duration" IS NULL) LIMIT 21',
  'time': '0.000'}]

In [72]:
m = result[0]
m

Movie<id=13444, title=Number 13, year=1922>

In [73]:
m.director

Person<id=33, name=Alfred Hitchcock>

In [74]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE ("movie"."duration" > 300 OR "movie"."duration" IS NULL) LIMIT 21',
  'time': '0.015'},
 {'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE ("movie"."duration" > 300 OR "movie"."duration" IS NULL) LIMIT 1',
  'time': '0.000'},
 {'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" WHERE "person"."id" = 33 LIMIT 21',
  'time': '0.016'}]

In [75]:
m.director_id

33

In [56]:
Movie.objects.filter((F('year') / 10) == 198)

TypeError: cannot unpack non-iterable bool object

## Projections

In [57]:
reset_queries()
Movie.objects.filter(duration__gte=150) \
    .values('title', 'year', 'duration') \
    .order_by('duration', 'title')

<QuerySet [{'title': 'Exodus: Gods and Kings', 'year': 2014, 'duration': 150}, {'title': 'Lincoln', 'year': 2012, 'duration': 150}, {'title': 'Papillon', 'year': 1973, 'duration': 151}, {'title': 'The Departed', 'year': 2006, 'duration': 151}, {'title': 'The Dark Knight', 'year': 2008, 'duration': 152}, {'title': 'Empire of the Sun', 'year': 1987, 'duration': 153}, {'title': 'Inglourious Basterds', 'year': 2009, 'duration': 153}, {'title': 'Janice Meredith', 'year': 1924, 'duration': 153}, {'title': '1492: Conquest of Paradise', 'year': 1992, 'duration': 154}, {'title': 'Jackie Brown', 'year': 1997, 'duration': 154}, {'title': 'Pulp Fiction', 'year': 1994, 'duration': 154}, {'title': 'The Color Purple', 'year': 1985, 'duration': 154}, {'title': 'Amistad', 'year': 1997, 'duration': 155}, {'title': 'Gladiator', 'year': 2000, 'duration': 155}, {'title': 'Midnight in the Garden of Good and Evil', 'year': 1997, 'duration': 155}, {'title': 'New York, New York', 'year': 1977, 'duration': 155}, {'title': 'Ali', 'year': 2001, 'duration': 157}, {'title': 'American Gangster', 'year': 2007, 'duration': 157}, {'title': 'Hatari!', 'year': 1962, 'duration': 157}, {'title': 'Sam Raimi Early Shorts', 'year': 1985, 'duration': 157}, '...(remaining elements truncated)...']>

In [58]:
connection.queries

[{'sql': 'SELECT "movie"."title", "movie"."release_year", "movie"."duration" FROM "movie" WHERE "movie"."duration" >= 150 ORDER BY "movie"."duration" ASC, "movie"."title" ASC LIMIT 21',
  'time': '0.016'}]

In [60]:
# name computed columns before projection
reset_queries()
Movie.objects.filter(duration__gte=150) \
    .annotate(decade=Floor(F('year') / 10)) \
    .values('title', 'year', 'decade', 'duration') \
    .order_by('decade', 'duration')

<QuerySet [{'title': 'Janice Meredith', 'year': 1924, 'duration': 153, 'decade': 192}, {'title': 'The Three Musketeers', 'year': 1933, 'duration': 210, 'decade': 193}, {'title': 'The Shadow of the Eagle', 'year': 1932, 'duration': 218, 'decade': 193}, {'title': 'The Hurricane Express', 'year': 1932, 'duration': 227, 'decade': 193}, {'title': 'Hatari!', 'year': 1962, 'duration': 157, 'decade': 196}, {'title': 'Where Eagles Dare', 'year': 1968, 'duration': 158, 'decade': 196}, {'title': 'The Red Tent', 'year': 1969, 'duration': 158, 'decade': 196}, {'title': 'The Good, the Bad and the Ugly', 'year': 1966, 'duration': 161, 'decade': 196}, {'title': 'The Alamo', 'year': 1960, 'duration': 162, 'decade': 196}, {'title': 'Paint Your Wagon', 'year': 1969, 'duration': 164, 'decade': 196}, {'title': 'How the West Was Won', 'year': 1962, 'duration': 164, 'decade': 196}, {'title': "In Harm's Way", 'year': 1965, 'duration': 165, 'decade': 196}, {'title': 'The Great Escape', 'year': 1963, 'duration': 172, 'decade': 196}, {'title': 'The Longest Day', 'year': 1962, 'duration': 178, 'decade': 196}, {'title': 'The Sand Pebbles', 'year': 1966, 'duration': 182, 'decade': 196}, {'title': 'The Greatest Story Ever Told', 'year': 1965, 'duration': 260, 'decade': 196}, {'title': 'Papillon', 'year': 1973, 'duration': 151, 'decade': 197}, {'title': 'New York, New York', 'year': 1977, 'duration': 155, 'decade': 197}, {'title': 'The Towering Inferno', 'year': 1974, 'duration': 165, 'decade': 197}, {'title': 'A Bridge Too Far', 'year': 1977, 'duration': 175, 'decade': 197}, '...(remaining elements truncated)...']>

In [61]:
connection.queries

[{'sql': 'SELECT "movie"."title", "movie"."release_year", "movie"."duration", FLOOR(("movie"."release_year" / 10)) AS "decade" FROM "movie" WHERE "movie"."duration" >= 150 ORDER BY 4 ASC, "movie"."duration" ASC LIMIT 21',
  'time': '0.000'}]

In [62]:
# TODO
Movie.objects.filter(duration__gte=150) \
    .annotate(decade=Floor(F('year') / 10)) \
    .filter(decade=197) \
    .filter('title', 'year', 'decade', 'duration') \
    .order_by('duration')

ValueError: too many values to unpack (expected 2)

## Agregate Functions
- stats (count, min duration, max duration, ...) by year
- stats (count, total duration) by director, keep directors with at least 10 movies

In [69]:
reset_queries()
result = Movie.objects.filter(year__range=(1980, 1989)) \
    .values('year') \
    .annotate(
        movie_count=Count('id'), 
        min_duration=Min('duration'),
        max_duration=Max('duration'),
    ) \
    .order_by('year')
result

<QuerySet [{'year': 1980, 'movie_count': 11, 'min_duration': 94, 'max_duration': 133}, {'year': 1981, 'movie_count': 10, 'min_duration': 85, 'max_duration': 127}, {'year': 1982, 'movie_count': 12, 'min_duration': 86, 'max_duration': 136}, {'year': 1983, 'movie_count': 8, 'min_duration': 93, 'max_duration': 170}, {'year': 1984, 'movie_count': 16, 'min_duration': 48, 'max_duration': 118}, {'year': 1985, 'movie_count': 19, 'min_duration': 83, 'max_duration': 157}, {'year': 1986, 'movie_count': 17, 'min_duration': 85, 'max_duration': 137}, {'year': 1987, 'movie_count': 15, 'min_duration': 84, 'max_duration': 153}, {'year': 1988, 'movie_count': 17, 'min_duration': 85, 'max_duration': 164}, {'year': 1989, 'movie_count': 22, 'min_duration': 83, 'max_duration': 171}]>

In [68]:
connection.queries

[{'sql': 'SELECT "movie"."release_year", COUNT("movie"."id") AS "movie_count", MIN("movie"."duration") AS "min_duration", MAX("movie"."duration") AS "max_duration" FROM "movie" WHERE "movie"."release_year" BETWEEN 1980 AND 1989 GROUP BY "movie"."release_year" ORDER BY "movie"."release_year" ASC LIMIT 21',
  'time': '0.016'}]

In [82]:
reset_queries()
Movie.objects.values('director') \
    .annotate(movie_count=Count('id'), total_duration=Sum('duration')) \
    .order_by('-movie_count')

<QuerySet [{'director': 33, 'movie_count': 55, 'total_duration': 5430}, {'director': 142, 'movie_count': 38, 'total_duration': 4768}, {'director': 229, 'movie_count': 33, 'total_duration': 4421}, {'director': 247, 'movie_count': 32, 'total_duration': 3491}, {'director': 361, 'movie_count': 30, 'total_duration': 3138}, {'director': 217, 'movie_count': 25, 'total_duration': 3437}, {'director': 631, 'movie_count': 25, 'total_duration': 3218}, {'director': 406, 'movie_count': 20, 'total_duration': 2160}, {'director': 965, 'movie_count': 16, 'total_duration': 1924}, {'director': 600, 'movie_count': 15, 'total_duration': 1592}, {'director': 250445, 'movie_count': 14, 'total_duration': 710}, {'director': 1392, 'movie_count': 13, 'total_duration': 1855}, {'director': 102908, 'movie_count': 13, 'total_duration': 708}, {'director': 233, 'movie_count': 12, 'total_duration': 1766}, {'director': 634240, 'movie_count': 10, 'total_duration': 1309}, {'director': 1054, 'movie_count': 10, 'total_duration': 1073}, {'director': 792450, 'movie_count': 9, 'total_duration': 556}, {'director': 116, 'movie_count': 8, 'total_duration': 1143}, {'director': 230, 'movie_count': 8, 'total_duration': 806}, {'director': 1053, 'movie_count': 8, 'total_duration': 881}, '...(remaining elements truncated)...']>

In [83]:
connection.queries

[{'sql': 'SELECT "movie"."director_id", COUNT("movie"."id") AS "movie_count", SUM("movie"."duration") AS "total_duration" FROM "movie" GROUP BY "movie"."director_id" ORDER BY 2 DESC LIMIT 21',
  'time': '0.000'}]

In [92]:
# having
reset_queries()
movie_count_threshold=10
Movie.objects.values('director_id', 'director__name') \
    .annotate(movie_count=Count('id'), total_duration=Sum('duration')) \
    .filter(movie_count__gte=movie_count_threshold) \
    .order_by('-movie_count')

<QuerySet [{'director_id': 33, 'director__name': 'Alfred Hitchcock', 'movie_count': 55, 'total_duration': 5430}, {'director_id': 142, 'director__name': 'Clint Eastwood', 'movie_count': 38, 'total_duration': 4768}, {'director_id': 229, 'director__name': 'Steven Spielberg', 'movie_count': 33, 'total_duration': 4421}, {'director_id': 247, 'director__name': 'John Woo', 'movie_count': 32, 'total_duration': 3491}, {'director_id': 361, 'director__name': 'Brian De Palma', 'movie_count': 30, 'total_duration': 3138}, {'director_id': 631, 'director__name': 'Ridley Scott', 'movie_count': 25, 'total_duration': 3218}, {'director_id': 217, 'director__name': 'Martin Scorsese', 'movie_count': 25, 'total_duration': 3437}, {'director_id': 406, 'director__name': 'John Ford', 'movie_count': 20, 'total_duration': 2160}, {'director_id': 965, 'director__name': 'Danny Boyle', 'movie_count': 16, 'total_duration': 1924}, {'director_id': 600, 'director__name': 'Sam Raimi', 'movie_count': 15, 'total_duration': 1592}, {'director_id': 250445, 'director__name': 'Walter Edwards', 'movie_count': 14, 'total_duration': 710}, {'director_id': 102908, 'director__name': 'Robert N. Bradbury', 'movie_count': 13, 'total_duration': 708}, {'director_id': 1392, 'director__name': 'Peter Jackson', 'movie_count': 13, 'total_duration': 1855}, {'director_id': 233, 'director__name': 'Quentin Tarantino', 'movie_count': 12, 'total_duration': 1766}, {'director_id': 1054, 'director__name': 'Joel Coen', 'movie_count': 10, 'total_duration': 1073}, {'director_id': 634240, 'director__name': 'Christopher Nolan', 'movie_count': 10, 'total_duration': 1309}]>

In [93]:
connection.queries

[{'sql': 'SELECT "movie"."director_id", "person"."name", COUNT("movie"."id") AS "movie_count", SUM("movie"."duration") AS "total_duration" FROM "movie" LEFT OUTER JOIN "person" ON ("movie"."director_id" = "person"."id") GROUP BY "movie"."director_id", "person"."name" HAVING COUNT("movie"."id") >= 10 ORDER BY 3 DESC LIMIT 21',
  'time': '0.000'}]

In [95]:
# where + having
reset_queries()
year_threshold=1950
movie_count_threshold=10
Movie.objects \
    .filter(year__gte=year_threshold) \
    .values('director_id', 'director__name') \
    .annotate(movie_count=Count('id'), total_duration=Sum('duration')) \
    .filter(movie_count__gte=movie_count_threshold) \
    .order_by('-movie_count')

<QuerySet [{'director_id': 142, 'director__name': 'Clint Eastwood', 'movie_count': 38, 'total_duration': 4768}, {'director_id': 229, 'director__name': 'Steven Spielberg', 'movie_count': 33, 'total_duration': 4421}, {'director_id': 247, 'director__name': 'John Woo', 'movie_count': 32, 'total_duration': 3491}, {'director_id': 361, 'director__name': 'Brian De Palma', 'movie_count': 30, 'total_duration': 3138}, {'director_id': 631, 'director__name': 'Ridley Scott', 'movie_count': 25, 'total_duration': 3218}, {'director_id': 217, 'director__name': 'Martin Scorsese', 'movie_count': 25, 'total_duration': 3437}, {'director_id': 33, 'director__name': 'Alfred Hitchcock', 'movie_count': 18, 'total_duration': 2082}, {'director_id': 965, 'director__name': 'Danny Boyle', 'movie_count': 16, 'total_duration': 1924}, {'director_id': 600, 'director__name': 'Sam Raimi', 'movie_count': 15, 'total_duration': 1592}, {'director_id': 1392, 'director__name': 'Peter Jackson', 'movie_count': 13, 'total_duration': 1855}, {'director_id': 233, 'director__name': 'Quentin Tarantino', 'movie_count': 12, 'total_duration': 1766}, {'director_id': 1054, 'director__name': 'Joel Coen', 'movie_count': 10, 'total_duration': 1073}, {'director_id': 634240, 'director__name': 'Christopher Nolan', 'movie_count': 10, 'total_duration': 1309}]>

In [96]:
connection.queries

[{'sql': 'SELECT "movie"."director_id", "person"."name", COUNT("movie"."id") AS "movie_count", SUM("movie"."duration") AS "total_duration" FROM "movie" LEFT OUTER JOIN "person" ON ("movie"."director_id" = "person"."id") WHERE "movie"."release_year" >= 1950 GROUP BY "movie"."director_id", "person"."name" HAVING COUNT("movie"."id") >= 10 ORDER BY 3 DESC LIMIT 21',
  'time': '0.000'}]

## Association navigation

In [98]:
reset_queries()
m = Movie.objects.get(title='Titanic')
m

Movie<id=120338, title=Titanic, year=1997>

In [99]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."title" = \'Titanic\' LIMIT 21',
  'time': '0.000'}]

In [106]:
james = m.director
james

Person<id=116, name=James Cameron>

In [101]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."title" = \'Titanic\' LIMIT 21',
  'time': '0.000'},
 {'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" WHERE "person"."id" = 116 LIMIT 21',
  'time': '0.000'}]

In [103]:
m.actors.values()

<QuerySet [{'id': 116, 'name': 'James Cameron', 'birthdate': datetime.date(1954, 8, 16)}, {'id': 138, 'name': 'Leonardo DiCaprio', 'birthdate': datetime.date(1974, 11, 11)}, {'id': 200, 'name': 'Bill Paxton', 'birthdate': datetime.date(1955, 5, 17)}, {'id': 701, 'name': 'Kate Winslet', 'birthdate': datetime.date(1975, 10, 5)}, {'id': 708, 'name': 'Billy Zane', 'birthdate': datetime.date(1966, 2, 24)}, {'id': 751, 'name': 'Suzy Amis', 'birthdate': datetime.date(1962, 1, 5)}, {'id': 870, 'name': 'Kathy Bates', 'birthdate': datetime.date(1948, 6, 28)}, {'id': 967, 'name': 'Eric Braeden', 'birthdate': datetime.date(1941, 4, 3)}, {'id': 1255, 'name': 'Victor Garber', 'birthdate': datetime.date(1949, 3, 16)}, {'id': 1280, 'name': 'Jenette Goldstein', 'birthdate': datetime.date(1960, 2, 4)}, {'id': 1572, 'name': 'Danny Nucci', 'birthdate': datetime.date(1968, 9, 15)}, {'id': 1784, 'name': 'Gloria Stuart', 'birthdate': datetime.date(1910, 7, 4)}, {'id': 1831, 'name': 'David Warner', 'birthdate': datetime.date(1941, 7, 29)}, {'id': 4920, 'name': 'Frances Fisher', 'birthdate': datetime.date(1952, 5, 11)}, {'id': 6508, 'name': 'Tony Kenny', 'birthdate': None}, {'id': 6976, 'name': 'Marc Cass', 'birthdate': None}, {'id': 8656, 'name': 'Lewis Abernathy', 'birthdate': None}, {'id': 12079, 'name': 'Seth Adkins', 'birthdate': datetime.date(1989, 10, 30)}, {'id': 27424, 'name': 'Scott Anderson', 'birthdate': None}, {'id': 27735, 'name': 'Kris Andersson', 'birthdate': datetime.date(1969, 11, 29)}, '...(remaining elements truncated)...']>

In [104]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."title" = \'Titanic\' LIMIT 21',
  'time': '0.000'},
 {'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" WHERE "person"."id" = 116 LIMIT 21',
  'time': '0.000'},
 {'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" INNER JOIN "play" ON ("person"."id" = "play"."person_id") WHERE "play"."movie_id" = 120338 LIMIT 21',
  'time': '0.000'}]

In [113]:
# manager object must be finished by a final step:
# all, get, order_by, values, ...
m.actors.all()

<QuerySet [Person<id=116, name=James Cameron>, Person<id=138, name=Leonardo DiCaprio>, Person<id=200, name=Bill Paxton>, Person<id=701, name=Kate Winslet>, Person<id=708, name=Billy Zane>, Person<id=751, name=Suzy Amis>, Person<id=870, name=Kathy Bates>, Person<id=967, name=Eric Braeden>, Person<id=1255, name=Victor Garber>, Person<id=1280, name=Jenette Goldstein>, Person<id=1572, name=Danny Nucci>, Person<id=1784, name=Gloria Stuart>, Person<id=1831, name=David Warner>, Person<id=4920, name=Frances Fisher>, Person<id=6508, name=Tony Kenny>, Person<id=6976, name=Marc Cass>, Person<id=8656, name=Lewis Abernathy>, Person<id=12079, name=Seth Adkins>, Person<id=27424, name=Scott Anderson>, Person<id=27735, name=Kris Andersson>, '...(remaining elements truncated)...']>

In [105]:
# NB: m.actors.add, m.actors.remove + save to modify list of actors

In [114]:
james.directed_movies.values()

<QuerySet [{'id': 82910, 'title': 'Piranha II: The Spawning', 'year': 1981, 'duration': 94, 'pg': 'R', 'synopsis': "A sunken US supply ship off a Caribbean island resort is the focus for a series of mysterious piranha attacks. Investigating the death of one of her son's companions after a scuba-diving trip, Anne Kimbrough breaks into the morgue with holidaymaker Tyler Sherman, only to discover that the fish have wings and can fly. But the hotel manager refuses to call off the annual fish fry on the beach, with inevitable consequences...", 'poster_uri': 'https://m.media-amazon.com/images/M/MV5BZTdiZDk0MTEtMzYyYy00NTA5LWJiYzMtOTMzZmM2NDIwMmNiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY150_CR0,0,101,150_.jpg', 'color': None, 'director_id': 116}, {'id': 88247, 'title': 'The Terminator', 'year': 1984, 'duration': 107, 'pg': 'R', 'synopsis': 'Sent back from a dystopian 2029--where the cold machines have conquered the entire world--to 1984 Los Angeles, the indestructible cyborg-assassin known as the "Terminator" commences his deadly mission to kill humankind\'s most important woman: the unsuspecting Sarah Connor. However, from the same war-torn post-apocalyptic future comes a battle-scarred defender--Kyle Reese, a brave soldier of the human Resistance Army--bent on stopping the cybernetic killer from eliminating the world\'s last hope. But, the Terminator has no feelings, he doesn\'t sleep, and above all, he won\'t stop until he carries out his grim task. Does our future lie in our past?', 'poster_uri': 'https://m.media-amazon.com/images/M/MV5BYTViNzMxZjEtZGEwNy00MDNiLWIzNGQtZDY2MjQ1OWViZjFmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX101_CR0,0,101,150_.jpg', 'color': None, 'director_id': 116}, {'id': 90605, 'title': 'Aliens', 'year': 1986, 'duration': 137, 'pg': 'R', 'synopsis': "57 years after Ellen Ripley had a close encounter with the reptilian alien creature from the first movie, she is called back, this time, to help a group of highly trained colonial marines fight off against the sinister extraterrestrials. But this time, the aliens have taken over a space colony on the moon LV-426. When the colonial marines are called upon to search the deserted space colony, they later find out that they are up against more than what they bargained for. Using specially modified machine guns and enough firepower, it's either fight or die as the space marines battle against the aliens. As the Marines do their best to defend themselves, Ripley must attempt to protect a young girl who is the sole survivor of the nearly wiped out space colony.", 'poster_uri': 'https://m.media-amazon.com/images/M/MV5BZGU2OGY5ZTYtMWNhYy00NjZiLWI0NjUtZmNhY2JhNDRmODU3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX101_CR0,0,101,150_.jpg', 'color': None, 'director_id': 116}, {'id': 96754, 'title': 'The Abyss', 'year': 1989, 'duration': 171, 'pg': 'R', 'synopsis': 'Formerly married petroleum engineers who still have some issues to work out. They are drafted to assist a gung-ho Navy SEAL with a top-secret recovery operation: a nuclear sub has been ambushed and sunk, under mysterious circumstances, in some of the deepest waters on Earth.', 'poster_uri': 'https://m.media-amazon.com/images/M/MV5BYmU4NmUxZjEtYjY0OC00ZDAwLTg0MGQtMDRkNDk5NWQ0OTQ5XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_SX101_CR0,0,101,150_.jpg', 'color': None, 'director_id': 116}, {'id': 103064, 'title': 'Terminator 2: Judgment Day', 'year': 1991, 'duration': 137, 'pg': 'R', 'synopsis': "Over 10 years have passed since the first machine called The Terminator tried to kill Sarah Connor and her unborn son, John. The man who will become the future leader of the human resistance against the Machines is now a healthy young boy. However, another Terminator, called the T-1000, is sent back through time by the supercomputer Skynet. This new Terminator is more advanced and more powerful than its predecessor and its mission is to kill John Connor when he's still a child. However, Sarah and John do not have to face the threat of the T-1000 alone. Another Terminator (identical to the same model that tried and failed to kill Sarah Connor in 1984) is also sent back through time to protect them. Now, the battle for tomorrow has begun.", 'poster_uri': 'https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX101_CR0,0,101,150_.jpg', 'color': None, 'director_id': 116}, {'id': 111503, 'title': 'True Lies', 'year': 1994, 'duration': 141, 'pg': 'R', 'synopsis': 'Harry Tasker (Arnold Schwarzenegger) leads a double life. At work he is a government agent with a license to do just about anything, while at home he pretends to be a dull computer salesman. He is on the trail of stolen nuclear weapons that are in the hands of fanatic terrorists when something more important comes up. Harry finds his wife is seeing another man (Bill Paxton) because she needs some adventure in her life. Harry decides to give it to her, juggling pursuit of terrorists on one hand and an adventure for his wife on the other while showing he can Tango all at once.', 'poster_uri': 'https://m.media-amazon.com/images/M/MV5BYzg5YmUyNGMtMThiNS00MjA2LTgwZDctNDlhM2RkZDNmZmRkXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX101_CR0,0,101,150_.jpg', 'color': None, 'director_id': 116}, {'id': 120338, 'title': 'Titanic', 'year': 1997, 'duration': 194, 'pg': 'R', 'synopsis': '84 years later, a 100 year-old woman named Rose DeWitt Bukater tells the story to her granddaughter Lizzy Calvert, Brock Lovett, Lewis Bodine, Bobby Buell and Anatoly Mikailavich on the Keldysh about her life set in April 10th 1912, on a ship called Titanic when young Rose boards the departing ship with the upper-class passengers and her mother, Ruth DeWitt Bukater, and her fianc, Caledon Hockley. Meanwhile, a drifter and artist named Jack Dawson and his best friend Fabrizio De Rossi win third-class tickets to the ship in a game. And she explains the whole story from departure until the death of Titanic on its first and last voyage April 15th, 1912 at 2:20 in the morning.', 'poster_uri': 'https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX101_CR0,0,101,150_.jpg', 'color': None, 'director_id': 116}, {'id': 499549, 'title': 'Avatar', 'year': 2009, 'duration': 162, 'pg': 'R', 'synopsis': 'When his brother is killed in a robbery, paraplegic Marine Jake Sully decides to take his place in a mission on the distant world of Pandora. There he learns of greedy corporate figurehead Parker Selfridge\'s intentions of driving off the native humanoid "Na\'vi" in order to mine for the precious material scattered throughout their rich woodland. In exchange for the spinal surgery that will fix his legs, Jake gathers knowledge, of the Indigenous Race and their Culture, for the cooperating military unit spearheaded by gung-ho Colonel Quaritch, while simultaneously attempting to infiltrate the Na\'vi people with the use of an "avatar" identity. While Jake begins to bond with the native tribe and quickly falls in love with the beautiful alien Neytiri, the restless Colonel moves forward with his ruthless extermination tactics, forcing the soldier to take a stand - and fight back in an epic battle for the fate of Pandora.', 'poster_uri': 'https://m.media-amazon.com/images/M/MV5BNjA3NGExZDktNDlhZC00NjYyLTgwNmUtZWUzMDYwMTZjZWUyXkEyXkFqcGdeQXVyMTU1MDM3NDk0._V1_SY150_CR0,0,101,150_.jpg', 'color': None, 'director_id': 116}]>

In [115]:
james.directed_movies.all()

<QuerySet [Movie<id=82910, title=Piranha II: The Spawning, year=1981>, Movie<id=88247, title=The Terminator, year=1984>, Movie<id=90605, title=Aliens, year=1986>, Movie<id=96754, title=The Abyss, year=1989>, Movie<id=103064, title=Terminator 2: Judgment Day, year=1991>, Movie<id=111503, title=True Lies, year=1994>, Movie<id=120338, title=Titanic, year=1997>, Movie<id=499549, title=Avatar, year=2009>]>

In [116]:
james.played_movies.order_by('-year')

## native/raw queries
https://docs.djangoproject.com/en/4.2/topics/db/sql/