# ORM Django Queries

In [1]:
from django.db import connection, reset_queries

## Read All

In [2]:
movies = Movie.objects.all() # QuerySet: Lazy object

In [4]:
type(movies)

django.db.models.query.QuerySet

In [3]:
connection.queries

[]

In [6]:
movies

<QuerySet [Movie<id=5257, title=Excuse Me, year=1915>, Movie<id=6366, title=Anton the Terrible, year=1916>, Movie<id=8351, title=The Mysterious Mrs. Musslewhite, year=1917>, Movie<id=8384, title=On the Level, year=1917>, Movie<id=8642, title=The Sunset Trail, year=1917>, Movie<id=8676, title=The Tides of Barnegat, year=1917>, Movie<id=8981, title=The Cruise of the Make-Believes, year=1918>, Movie<id=9124, title=Good Night, Paul, year=1918>, Movie<id=16251, title=Proud Flesh, year=1925>, Movie<id=19588, title=A Woman Against the World, year=1928>, Movie<id=9274, title=A Lady's Name, year=1918>, Movie<id=9403, title=Mrs. Leffingwell's Boots, year=1918>, Movie<id=9475, title=A Pair of Silk Stockings, year=1918>, Movie<id=9492, title=A Petticoat Pilot, year=1918>, Movie<id=9576, title=Sauce for the Goose, year=1918>, Movie<id=9666, title=Such a Little Pirate, year=1918>, Movie<id=9740, title=Unclaimed Goods, year=1918>, Movie<id=9767, title=Viviette, year=1918>, Movie<id=19699, title=The Black Watch, year=1929>, Movie<id=10099, title=Experimental Marriage, year=1919>, '...(remaining elements truncated)...']>

In [7]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" LIMIT 21',
  'time': '0.000'}]

In [8]:
len(movies)

1187

In [9]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" LIMIT 21',
  'time': '0.000'},
 {'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie"',
  'time': '0.016'}]

In [10]:
reset_queries()
connection.queries

[]

In [11]:
persons = Person.objects.all()

In [12]:
connection.queries

[]

In [13]:
persons[:100]

<QuerySet [Person<id=1, name=Fred Astaire>, Person<id=2, name=Lauren Bacall>, Person<id=3, name=Brigitte Bardot>, Person<id=4, name=John Belushi>, Person<id=6, name=Ingrid Bergman>, Person<id=8, name=Marlon Brando>, Person<id=9, name=Richard Burton>, Person<id=11, name=Gary Cooper>, Person<id=13, name=Doris Day>, Person<id=15, name=James Dean>, Person<id=17, name=Marlene Dietrich>, Person<id=18, name=Kirk Douglas>, Person<id=20, name=Henry Fonda>, Person<id=21, name=Joan Fontaine>, Person<id=24, name=John Gielgud>, Person<id=25, name=Jerry Goldsmith>, Person<id=26, name=Cary Grant>, Person<id=27, name=Alec Guinness>, Person<id=28, name=Rita Hayworth>, Person<id=30, name=Audrey Hepburn>, '...(remaining elements truncated)...']>

In [14]:
connection.queries

[{'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" LIMIT 21',
  'time': '0.016'}]

In [15]:
persons[100:200]

<QuerySet [Person<id=151, name=Morgan Freeman>, Person<id=152, name=Richard Gere>, Person<id=153, name=Gina Gershon>, Person<id=154, name=Mel Gibson>, Person<id=155, name=Whoopi Goldberg>, Person<id=156, name=Jeff Goldblum>, Person<id=157, name=Linda Hamilton>, Person<id=158, name=Tom Hanks>, Person<id=159, name=Teri Hatcher>, Person<id=160, name=Ethan Hawke>, Person<id=161, name=Salma Hayek>, Person<id=162, name=Anne Heche>, Person<id=163, name=Dustin Hoffman>, Person<id=164, name=Anthony Hopkins>, Person<id=165, name=Ron Howard>, Person<id=166, name=Helen Hunt>, Person<id=168, name=Samuel L. Jackson>, Person<id=169, name=Tommy Lee Jones>, Person<id=171, name=Ashley Judd>, Person<id=172, name=Harvey Keitel>, '...(remaining elements truncated)...']>

In [16]:
connection.queries

[{'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" LIMIT 21',
  'time': '0.016'},
 {'sql': 'SELECT "person"."id", "person"."name", "person"."birthdate" FROM "person" LIMIT 21 OFFSET 100',
  'time': '0.000'}]

## Read with filter

In [19]:
# movies from 1984
reset_queries()
Movie.objects.filter(year=1984)

<QuerySet [Movie<id=84750, title=Sword of the Valiant: The Legend of Sir Gawain and the Green Knight, year=1984>, Movie<id=86927, title=Bachelor Party, year=1984>, Movie<id=86979, title=Blood Simple, year=1984>, Movie<id=86984, title=Body Double, year=1984>, Movie<id=86998, title=Breakin', year=1984>, Movie<id=87062, title=City Heat, year=1984>, Movie<id=87078, title=Conan the Destroyer, year=1984>, Movie<id=87363, title=Gremlins, year=1984>, Movie<id=87469, title=Indiana Jones and the Temple of Doom, year=1984>, Movie<id=87727, title=Missing in Action, year=1984>, Movie<id=87739, title=Monaco Forever, year=1984>, Movie<id=88001, title=Rhinestone, year=1984>, Movie<id=88161, title=Splash, year=1984>, Movie<id=88247, title=The Terminator, year=1984>, Movie<id=88272, title=Tightrope, year=1984>, Movie<id=92264, title=Heroes Shed No Tears, year=1984>]>

In [20]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE "movie"."release_year" = 1984 LIMIT 21',
  'time': '0.000'}]

In [21]:
# movies from 1984 and duration 106 minutes
reset_queries()
Movie.objects.filter(year=1984, duration=106)

In [22]:
connection.queries

[{'sql': 'SELECT "movie"."id", "movie"."title", "movie"."release_year", "movie"."duration", "movie"."pg", "movie"."synopsis", "movie"."poster_uri", "movie"."color", "movie"."director_id" FROM "movie" WHERE ("movie"."duration" = 106 AND "movie"."release_year" = 1984) LIMIT 21',
  'time': '0.000'}]

## Exercice using lookups:
Extract movies with:
- title = 'the man who knew too much' (case insensitive)
- title starting with 'the man who' (case insensitive)
- title containing 'man' (case insensitive)
- year > 2019
- year between  1980 and 1989
- duration is null
- duration > 300 or duration is null

Extract persons with:
- birth year 1930
- birth year before 1900

Doc: https://docs.djangoproject.com/en/4.2/ref/models/querysets/